* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container .header {
    text-align: center;
    width: 100%;
}

.header {
    margin: 0 auto;
    text-align: center;
    max-width: 850px;
}

.header h1 {
    color: rgb(202, 89, 36);
    font-size: 35px;
    margin-top: 50px;
}

.header p {
    font-weight: lighter;
    text-align: center;
    font-size: 17px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.container .main {
    background-color: rgb(226, 230, 228);
    padding-top: 40px;
    padding-bottom: 60px;
}

.main {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 26%;
    max-width: 2560px;
    gap: 50px;
}

.container .img {
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.content .p1 {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 15px;
}

.content p {
    font-weight: thin;
    font-size: 15px;
    margin-bottom: 10px;
}

.content a {
    color: #000;
}

.footer {
    height: 350px;
    margin: 0 auto;
}

.container .footer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.footer img {
    object-fit: cover;
    height: 350px;
    max-width: 2560px;
    width: 50%;
    padding: 10px;
}