* {
    margin: 0 auto;
    box-sizing: border-box;
}

.container {
    max-width: 100%;
}

body {
    margin: 20px auto;
    font-family: Arial, Helvetica, sans-serif;
}

.container .header {
    text-align: center;
}

.header h1 {
    color: rgb(202, 89, 36);
    font-size: 40px;
    margin-top: 45px;
}

.header p {
    font-weight: lighter;
    text-align: center;
    width: 50%;
    font-size: 17px;
    margin-top: 15px;
}

.container .main {
    max-width: 100%;
    text-align: left;
    background-color: rgb(208, 228, 221);
    display: flex;

}

.main {
    padding: 35px;
    text-align: left;
}

.container .content {
    line-height: 1.2;
    margin-left: -15%;
    width: 30%;
}

.container .img {
    /* border: 1px solid rgb(255, 81, 0); */
    margin-left: 16%;
    height: 300px;

}

.content .p1 {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 15px;
}

.content p {
    font-weight: thin;
    font-size: 15px;
    margin-bottom: 10px;
}

.content a {
    color: #000;
}

.footer {
    text-align: center;
}

.container .footer {
    text-align: center;
    height: 300px;
}

.footer img {
    text-align: left;
    height: 300px;
    object-fit: cover;
    width: 990px;
}