body {
    font-family: 'PT Sans', sans-serif;
    line-height: 1.4;
    margin: auto;
    padding: auto;

}

.div1 h2 {
    color: rgb(216, 64, 89);
    text-align: center;
    font-size: 35px;
    padding-top: 40px;
    max-width: fit-content;
    min-width: fit-content;
}

.div1 p {
    text-align: center;
    font-size: large;

}

.div2 {
    background-color: rgb(222, 238, 251);
    height: 45vh;
    padding: 10px;
    max-width: fit-content;
    min-width: fit-content;

}

.div2 img {
    width: 290px;
    height: 290px;
    position: absolute;
    margin: 30px 30px;
}

.div2 p {
    float: right;
    margin: 20px;
    padding: 10px;
  line-height: 1.3;
  max-width: fit-content;
  min-width: fit-content;


}

#p1 {
    font-weight: bold;
    font-size: large;
    margin-left: 390px;
    position: relative;
    max-width: fit-content;
    min-width: fit-content;
    

}
#p2{
    margin-left: 390px;
    position: relative;
    font-size: large;
    max-width: fit-content;
    min-width: fit-content;
}
.div2 #more {
    color: black;
    font-size: large;
    position: relative;
    float: right;
    margin-top: 10px;
    margin-right: 59em;
    max-width: max-content;
    min-width: max-content;
}

.div3 img {
    display: block;
    padding: 40px;
   
    width: 80%;
    height: 40vh;
    align-content: center;
    position: relative;
    margin: 0 auto;
    max-width:max-content;

}