* {
    margin: 0;
    padding: 0;
    /* box-sizing: content-box; */
}

body {
    font-family: 'PT Sans', sans-serif;
    line-height: 1.4;
   
}


.div1 {
    text-align: center;
    padding: 40px 20px;
}

.div1 h2 {
    color: rgb(145, 107, 154);
    font-size: 35px;
    padding-bottom: 20px;

}

.div1 p {
    font-size: 1.1rem;

}

.div2 {
    background-color: rgb(222, 238, 251);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.div2 {
    display: flex;
    gap: 30px;
    max-width: 100%;
    flex-wrap: wrap;
}

.div2 img {
    width: 300px;
    height: auto;
    border-radius: 8px;
}

.content{
    display:block ;
    margin-bottom: 5px;
    font-size: 1rem;
    line-height: 1.5;
    flex: 1;



}
.p1{
    font-weight: bold;
}

#more {
    color: black;
    font-size: 1rem;
     display: inline-block;
    margin-top: 10px;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border-radius: 5px;
}

.div3 {
    text-align: center;
    padding: 20px;
}

.div3 img {
    width: 80%;
    height: 20rem;
    border-radius: 8px;

}